:root {
	--secondary-color: #039be5;
	--prime-color: rgba(38, 50, 56, 0.9);
	/* for navbar and dropdown color */
}
body{
    background-color: #f5f5f5;
}

/* **************** navbar **************** */
header nav{
    background-color: var(--prime-color);
}
/* **************** end navbar **************** */


/* DESHBORD sidenav */
header .sidenav li a{
    font-size: 19px;
    color: #8b91a0;
}
header .sidenav li .divider{
    background-color: #8b91a0 !important;
}
nav .brand-logo{
    margin-left: 25px;
    color: #424242;
}






/* ************ signup form validation error ************ */
.container .row .card .card-content #form #submit{
    margin-left: 43px !important;

}

.container .section .card .input-field .parsley-error{
    border-bottom: 1px solid #B94A48 !important;
    box-shadow: 0 1px 0 0 #B94A48 !important;
}

.container .section .card .input-field .prefix{
    color: #607d8b;
}
.container .section .card .input-field .prefix.active{
    color: #455a64;
}
.container .card .card-content .section form .btn{
    margin-left: 43px;
}

/* ************ end signup form validation error ************ */
