body{
	margin:0;
	padding: 0;
}
main #contect #particles-js .container .row .col{
	/*position: absolute;*/
	/*top: 10%;*/
	/*left: 0px !important;*/
	/*transform: translateY(-50%, -50%);*/

}

main #contect #particles-js{
	/*background: #1c2227;*/
	background: rgba(28,34,39); 
	height: 40vh !important;
	/*height: 200px !important;*/
	width: 100%;
	/*padding-top: 1px;*/
	/*overflow: hidden;*/

} 
main #contect #particles-js .particles-js-canvas-el{
	position: absolute;
	top: 64px;
	left: 0;
	height: inherit !important;
	

}

main #contect #particles-js .container .row .col #contect_head{
	font-family: var(--primary-font-family-heading) !important;
	font-size: 50px;
	color: #e5e5e5;
	font-weight: 500;
	line-height: 85%;
	margin-top: 25px;
}
main #contect #particles-js .container .row .col #contect_para{
	color: #999999;
	font-size: 24px;
	font-family: var(--primary-font-family-paragraph) !important;
	/*font-family: var(--font-family-dosis);*/
}



#contect .container .row .section form .input-field .prefix{/* form icon */
	color: #607d8b !important;
}
#contect .container .row .section form .input-field .prefix.active{/* form icon active*/
	/*color: #455a64 !important;*/
	color: var(--prime-color) !important;
}
#contect .container .row .section form .btn{/* send msg button */
	background-color: var(--secondary-color);
}
#contect .container .row .section form .btn:hover{/* send msg button on hover */
	/*background-color: #f16f53;*/
	border: 1px solid var(--secondary-color);
	background-color: transparent;
	color: var(--secondary-color);
	box-shadow:none;

}

#contect .container .row .section form .input-field .parsley-error{
	border-bottom: 1px solid #B94A48 !important;
    box-shadow: 0 1px 0 0 #B94A48 !important;
    color: #B94A48;
}
#contect .container .row .section form .input-field .parsley-errors-list .parsley-required{
	color: #B94A48;
	margin-left: 40px;
}

#contect .container .row .section form .input-field .parsley-errors-list .parsley-pattern{
	color: #B94A48;
	margin-left: 40px;
}

#contect .container .row .section form .input-field input:focus + label,/* input label */
#contect .container .row .section form .input-field textarea:focus + label{/* textarea label */
	color: var(--prime-color);
	/*border-bottom: 1px solid red !important;*/
}
#contect .container .row .section form .input-field input[type=text]:focus,/* input[type=text] border-bottom */
#contect .container .row .section form .input-field input[type=email]:focus,/* input[type=email] border-bottom  */
#contect .container .row .section form .input-field textarea.materialize-textarea:focus{/* textarea border-bottom */
	border-bottom: 1px solid var(--prime-color) !important;
	-webkit-box-shadow: 0 1px 0 0 var(--prime-color);
	box-shadow: 0 1px 0 0 var(--prime-color);
}



