:root {
	--secondary-color: #039be5;
	/* for navbar and dropdown color */
	--prime-color: rgba(33,33,33); 
	/* --prime-color: #212121;  */
}
body{
	background-color: #f5f5f5;
}
/* *********** NAVBAR *********** */
nav .nav-wrapper #navbar_links li a:hover {
	/* background-color: #009688; */
}
header nav{
	background-color: var(--prime-color) !important;
}
header nav .nav-wrapper .dropdown-content li a{
	color: var(--prime-color) !important;
}

/* *********** end navbar *********** */




/* *********** SIDENAV ********** */


.sidenav li.active {
	background-color: rgba(0, 0, 0, 0.07);
}

nav .sidenav li a {
	font-weight: 500;
	/* color: #1976d2; */
	color: var(--secondary-color);
}

nav .sidenav li a i {
	/* color: #1976d2 !important; */
	color: var(--secondary-color) !important;
}

.sidenav .collapsible-header {
	padding: 0 32px !important;
}

.sidenav .collapsible-body li a {
	padding: 0 75px;
}

.sidenav li>a>i {
	margin-right: 18px !important;
}

/* *********** end SIDENAV ********** */


/* *********** SLIDER ************ */
main .slider .slides{
	background-color: rgba(33,33,33,0.9);
}
main .slider .slides li .caption h3 {
	color: #bdbdbd;
}

main .slider .slides li .caption h5 {
	color: #616161;
}
main .slider .slides li img{
	filter: brightness(4%) !important;
}


/* *********** !SLIDER ************ */



/* *********** TEMPLATES SECTION *********** */
main .container .template_header,.snippet_header{
	color: #424242;
}
main .container .my_hr{
	width: 26%;
	color:424242;
	font-weight: 100 !important;
}
/* *********** !TEMPLATES SECTION *********** */



/* *********** SNIPPETS SECTION ***********  */
main .container .center #snippet_btn {
	text-transform: none !important;
}

/* *********** !SNIPPETS SECTION ***********  */



/* *********** FOOTER *********** */
footer .container .row .col #social li {
	display: inline !important;
	margin-right: 20px;
}

footer .container .row .col #social li a .fa-facebook-square:hover {
	color: #3b5998 !important;
}

footer .container .row .col #social li a .fa-google-plus-square:hover {
	color: #db4437 !important;
}

footer .container .row .col #social li a .fa-instagram:hover {
	color: #262626 !important;
}

footer .container .row .col #links li {
	margin-top: 10px !important;
}

.page-footer .footer-copyright {
	background-color: #222d32;
}

/* *********** !FOOTER *********** */